<aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ "/" | prepend: site.baseurl }}"><img src="home.png" align="top" style="width:18px;height:18px;"> Home</a></li>
				<li><a href="{{ "/snippets-and-tips/" | prepend: site.baseurl }}">Snippets and tips</a></li>
				<li><a href="{{ "/tutorials/" | prepend: site.baseurl }}">Tutorials</a></li>
				<li><a href="{{ "/presentations/" | prepend: site.baseurl }}">Presentations</a></li>
				<li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<title_header><a href="{{ site.baseurl }}">{{ site.title }}</a></title_header>
</header>

