$content-width: 800px;
$main: #1F1461;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #160C55;
$link-hover-color: #42357C;
$link-index-font: 'Josefin Sans', sans-serif;
$link-index-color: #425469;
$heading-font: 'Josefin Sans', sans-serif;
$heading-font-color: #160C55;
$light: #E7EDF4;
$header:  #FFFFFF;
$header-font-color: #FFFFFF;
$table-header: #160C55; 

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
