$content-width: 800px;
$main: #541a3b;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$link-index-font: 'Josefin Sans', sans-serif;
$link-index-color: #425469;
$heading-font: 'Josefin Sans', sans-serif;
$heading-font-color: #bf81bf;
$light: #E7EDF4;
$header:  #FFFFFF;
$header-font-color: #FFFFFF;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
